<ion-view view-title="Sign In">

<ion-side-menus>
  <ion-side-menu side="left">
     <center>
     <div class="sidemenu-header">
       <img src="img/orgi2.png" style="width:70%;margin-top:3px;margin-bottom:3px;"></img>
       </center> 
    </div>
    <div style="margin-left:12px;">
        <button class="button icon ion-settings" ng-click="verifyAdmin()" id="home_admin"> Administrator</button>
        <img src="img/line.png" style="width:100%"></img>

        <button class="button icon ion-log-out" ng-click="Signout()" id="home_logout"> Log Out</button>
        <img src="img/line.png" style="width:100%"></img>
    </div>
  </ion-side-menu>
<ion-side-menu-content >
 
<div class="bar bar-header">
    <button class="button icon ion-navicon"  id="home_menutoogle" menu-toggle="left" ng-click="toggleLeft()">
    <i class="ion-social-foursquare-outline" id="home_menutoogle_icon"></i>armbuddy</button>
    <p class="button" id="home_heyabutton">Heya Buddy!</p>
</div>

<ion-tabs class="tabs-icon-bottom" >
   <ion-tab title="My Profile" icon="ion-ios-person" ui-sref="home.profile">
        <ion-nav-view name="profile-tab"></ion-nav-view>
   </ion-tab>

   <ion-tab title="Main Menu" icon="icon ion-leaf" ui-sref="home.menu">
        <ion-nav-view name="menu-tab"></ion-nav-view>
   </ion-tab>     

    <ion-tab title="Crop Reservation" icon="ion-ios-people" badge="badgecount" badge-style="badge-assertive" ui-sref="home.reservations">
        <ion-nav-view name="reservations-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>
