<ion-view view-title="My Farm Crop">

<div class="bar bar-header">
   <button  id="farmcrop_back" class="button icon ion-home" ui-sref="home.menu"></button> 
   <p id="farmcrop_title">My Crops</p>
   <button id="farmcrop_add_crop" class ="button icon ion-plus-round"  ng-click='validationChecker()' ></button>
</div> 

<ion-content overflow-scroll="true"><br><br>   
<div ng-show='show'>
          <div  id="farmcrop_main" class="item item-input item-stacked-label"  style="background-color:#f2ffe6;max-width: 100%;" ng-repeat='crops in mycrops '> 
             <label>
                  <div class="cropyea1">
                   <h3 style="font-size:24px;color:#78a64a">
                   <i style="color:#78a64a;float:left" class="icon ion-leaf placeholder-icon">{{crops.cropname}}</i></h3> 
                  </div><br/>

                  <b style="color:#78a64a">LOCATION</b><br/>
                  <span class="input-label">
                  <i class="icon ion-ios-location placeholder-icon"><b>{{crops.croplocation}}</b></i>
                  </span><br/>

                  <b style="color:#78a64a">HECTARS</b><br/>
                  span class="input-label">
                  <i class="icon ion-map placeholder-icon"><b>{{crops.crophectars}}</b></i>
                  </span><br/>

                  <div class="liney" style="height:1px;margin-bottom:7px"></div>

                  <b style="color:#78a64a">DATE PLANTED</b><br/>
                  <span class="input-label">
                  <i class="icon ion-ios-calendar-outline placeholder-icon"><b>{{crops.cropplantdate}}</b></i>
                  </span><br/>

                  <b style="color:#78a64a">ESTIMATED HARVEST DATE</b><br/>
                  <span class="input-label">
                  <i class="icon ion-ios-calendar placeholder-icon"><b>{{crops.cropharvestdate}}</b></i>
                  </span><br/>

                   <div id="farmcrop_additionalInfo">
                   <span class="input-label"><b style="color:#78a64a">ADDTIONAL INFORMATION</b><p style="margin-left:4px">{{crops.cropinfo}}<p></span><br/>
                  </div>       

                  <span class="input-label">POST DATE : <b>{{crops.croppostdate}}</b></span><br/>                             
              </label>    

              <p style="margin-top:10px;color:#1E824C"><b>IMAGE OF THE CROP</b></p>
              <center>
              <div style="background-color:#afdd99;width:85%;margin-right:14px;">
              <img style="height:200px; width:75%; margin-top:5px;" ng-src='data:image/jpeg;base64,{{crops.cropimage}}' src="img/cropster.png">
              </div>
                
              <button class="button button-calm button-small" style="margin-right:14px;background-color:#1E824C" 
              ng-click='update(crops)'>Update Image</button><br>
              <center><br><br>
              <button style="float:left;" class="button button-assertive" ng-click='delete(crops.cropid,crops.cropname)'><i style="font-size:18px;color:white" class="icon ion-android-delete placeholder-icon" > Delete Post</i></button><br><br><br>
           </div><br>

</div><br><br><br>   

<div ng-hide="hide">
 <center> 
 <img src="img/orgi.png" width="85" height="85" style="opacity:0.3;margin-top:75px"></img>   
   <h3 style="color:#C0C0C0;font-size:1em">You don't have any crops yet</h3> 
   <h3 style="color:#C0C0C0;font-size:1.3em">Click the "+" button on the<br/>upper right of your screen<br/>to add crop</h3> </center>
 </div>      

</ion-content>

</ion-view>