<ion-view view-title="Admin Panel">


<ion-side-menus> // content of the side menu
  <ion-side-menu side="left">
       <center>
       <div class="sidemenu-header">
         <img src="img/orgi2.png" style="width:70%;margin-top:3px;margin-bottom:3px;"></img>
      </div>
          <button class="button icon  ion-pie-graph" ui-sref="home.menu" id="home_logout"> &nbsp; Menu</button>
          <img src="img/line.png" style="width:100%"></img>

          <button class="button icon ion-settings" ui-sref="admin" id="home_admin"> Administrator
          <img src="img/line.png" style="width:100%"></img>

          <button class="button icon ion-log-out" ng-click="Signout()" id="home_logout"> Log Out</button>
          <img src="img/line.png" style="width:100%"></img>
       </center>   
  </ion-side-menu>

<ion-side-menu-content> //main content
 <ion-content>
   <div class="bar bar-header" id="admin_header">
      <button class="button icon ion-navicon"  id="home_menutoogle" menu-toggle="left" ng-click="toggleLeft()"></button>
      <h1 class="title" id="admin_title">Seller Request List</h1>  
   </div>
   <div id="admin_body">
      a
   </div>
 </ion-content>
</ion-side-menu-content>

</ion-side-menus>



