      <ion-view view-title="Farm Buddy">  
      
      <div class="bar bar-header">
        <button  style="background-color:transparent;color:#C8F7C5" class = "button icon ion-home" ui-sref ="home.menu"></button>
          <p style="margin: auto;font-size: 1em;color:white;">Crop rates</p>
      </div> 
      <ion-content overflow-scroll="true">
      <br><br>
      <div style="padding:17px;text-align:center;background-color:#4CAF50;font-size:16px;color:#DCEDC8">

                          <center>                                 
                           Current Crop Rates (per klg.)
                           </center>
                      </div>  
      <div class="row" style="">
        <div class="col">
          <div style="background-color:#66BB6A;color:#DCEDC8;border-radius:4px">
                                       <center>
                                       <br>
                                       <i style="color:#DCEDC8;" class="icon ion-leaf placeholder-icon"></i>
                                       CROP NAME<br/><br>
           </div>
         </div>

          <div class="col">
          <div style="background-color:#66BB6A;color:#DCEDC8;border-radius:4px">
                                       <center>
                                       <br>
                                       <i style="color:#DCEDC8;" class="icon ion-leaf placeholder-icon"></i>
                                       PRICE<br/><br>
           </div>
         </div>
       </div>



      <div class="row" ng-repeat='rate in croprates'>
        <div class="col">
          <p>{{rate.$id}}</P>
        </div>
        <div class="col">
          <p>₱{{rate.$value}}</P>
        </div>
        
      </div>
    <div style="background-color:#f7fff4">
     <p>All prices stated above is the average of the prices on all the regions in Philippines.<br>Derived from Philippines Statistics Authoritie's Publications entitled <br>"Price Situationer of Selected Agricultural Commodities" which is being updated every week. Visit their site  at <p style="color:blue;">"https://psa.gov.ph/content/price-situationer-selected-agricultural-commodities-0"</p> for more information. </p>

   </div>
       
      </ion-content>
      </ion-view>
