<ion-view view-title="Welcome">
        <ion-content >
        <div style="padding-top: 67px;margin:0px auto; text-align:center;height: 270px;background-color:#1E824C;">
          <img style="opacity:1px;" src="img/orgi1.png" height="170" alt="" >   
        </div>
        <center>
        

         <p>
            <a class="button buttonMenu12" ng-click="verifyUser()">
              <img src="img/crops/4.png" height="75" alt="" >    
            </a>

            <a class="button buttonMenu12"  ui-sref="search">
              <img src="img/crops/searchblaa.png" height="75" alt=""></img>

            </a>
            <a class="button buttonMenu12"  ui-sref="cropMap">
              <img class="duh" src="img/crops/41.png" height="75" alt=""></img>
              </a>

            <a class="button buttonMenu12"  ui-sref="croprates">
              <img class="duh" src="img/crops/rates1.png" height="75" alt=""></img>
              </a>
          </p> 


        </center>
        </ion-content>
</ion-view>
